---
- name: copy script that backup ssh keys
  copy: src=backup_authorized_keys.sh dest=/opt mode=755

- name: execute script to backup ssh keys
  command: "/opt/backup_authorized_keys.sh"

- name: copy ssh keys
  action: copy src=authorized_keys dest={{ item }}   mode=644
  with_items:
      - "/home/esad/.ssh"
      - "/home/elicense/.ssh"
      - "/home/efemci/.ssh"
      
- name: delete script
  file: path=/opt/backup_authorized_keys.sh state=absent
